@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "dim";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(30.857% 0.023 264.149);
  --color-base-200: oklch(28.036% 0.019 264.182);
  --color-base-300: oklch(26.346% 0.018 262.177);
  --color-base-content: oklch(82.901% 0.031 222.959);
  --color-primary: oklch(86.133% 0.141 139.549);
  --color-primary-content: oklch(0% 0 0);
  --color-secondary: oklch(75% 0.183 55.934);
  --color-secondary-content: oklch(12% 0.042 264.695);
  --color-accent: oklch(90% 0.182 98.111);
  --color-accent-content: oklch(0% 0 0);
  --color-neutral: oklch(24.731% 0.02 264.094);
  --color-neutral-content: oklch(82.901% 0.031 222.959);
  --color-info: oklch(80% 0.105 251.813);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(86.171% 0.142 166.534);
  --color-success-content: oklch(17.234% 0.028 166.534);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(17.232% 0.028 94.818);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(98% 0.003 247.858);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}



@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.recharts-wrapper *:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  }